
*.pyc
*.xml
*.iml
figures/ flowchart_model3.jpg
script/.ipynb_checkpoints/actr-checkpoint.py
script/.ipynb_checkpoints/simon-body-v1-checkpoint.lisp
script/.ipynb_checkpoints/simon-core-checkpoint.lisp
script/.ipynb_checkpoints/simon-device-checkpoint.lisp
script/.ipynb_checkpoints/simon-model1-checkpoint.lisp
script/.ipynb_checkpoints/simon-model2-checkpoint.lisp
script/.ipynb_checkpoints/simon-model3-checkpoint.lisp
script/.ipynb_checkpoints/simon-motivation-demo-checkpoint.ipynb
script/.ipynb_checkpoints/simon-motivation-model-checkpoint.lisp
script/.ipynb_checkpoints/simon_device-checkpoint.py
script/.ipynb_checkpoints/test-checkpoint.ipynb
script/.ipynb_checkpoints/test1-checkpoint.ipynb
script/.ipynb_checkpoints/test2-checkpoint.ipynb
script/.ipynb_checkpoints/test4-checkpoint.ipynb
script/actr.py
script/old/simon-body.lisp
script/old/simon-device.lisp
script/old/simon-model.lisp
script/old/simon-model1.lisp
script/old/simon-model2.lisp
script/test.ipynb
script/test1.ipynb
script/test2.ipynb
script/test4.ipynb
