
*.pyc
*.xml
*.iml
script/.ipynb_checkpoints/
script/.idea
script/mini_experiment/.ipynb_checkpoints
script/mini_experiment/*.txt
script/actr_traces/
script/old/
script/__pycache__ 
analysis/
data/
publications/

